$screen_width_HD: 1280px;
$font-family-medium: Helvetica-Neue-Medium;

:root {
  --button-padding-DropDown: 8px 15px;
  --down-icon-size-DropDown: 6px;
  --down-icon-margin-left-DropDown: 5px;
  --menu-title-bg-color-DropDown: #f2f2f2;
  --menu-min-width-DropDown: 130px;
  --font-size-xx-small-DropDown: calc((12px + 0.35vw) * 0.6);
  --font-size-x-small-DropDown: calc((12px + 0.35vw) * 0.7);
  --font-size-small-DropDown: calc((12px + 0.35vw) * 0.8);
  --font-size-medium-DropDown: calc((12px + 0.35vw) * 0.9);

  @media (max-width: $screen_width_HD) {
    --button-padding-DropDown: 7.5px 20px;
    --down-icon-size-DropDown: 10px;
    --down-icon-margin-left-DropDown: 5px;
  }

  //mobile
  @media (hover: none) and (pointer: coarse) and (orientation: portrait) {
    --button-padding-DropDown: 5px 10px;
    --down-icon-size-DropDown: 7px;
    --down-icon-margin-left-DropDown: 5px;
    --menu-min-width-DropDown: 90px;
  }

  //mobile
  @media (hover: none) and (pointer: coarse) and (orientation: landscape) {
    --button-padding-DropDown: 5px 10px;
    --down-icon-size-DropDown: 10px;
    --down-icon-margin-left-DropDown: 5px;
    --menu-min-width-DropDown: 90px;
  }
}

.DropDown_DropDownMaterial {
  width: auto !important;
  font-family: $font-family-medium;
}

.Button_DropDownMaterial {
  background-color: #1977f2 !important;
  font-family: $font-family-medium !important;
  font-size: var(--font-size-x-small-DropDown) !important;
  color: #f7f7f7 !important;
  text-transform: none !important;
  padding: var(--button-padding-DropDown) !important;
  white-space: nowrap !important;
  @media (max-width: $screen_width_HD) {
    font-size: var(--font-size-medium-DropDown) !important;
  }

  svg {
    width: var(--down-icon-size-DropDown);
    height: var(--down-icon-size-DropDown);
    fill: #f7f7f7 !important;
    margin-left: var(--down-icon-margin-left-DropDown);
  }

  &.White_DropDownMaterial {
    background-color: #e6e7eb !important;
    color: #2a2a2a !important;
    svg {
      fill: #2a2a2a !important;
    }
  }
}

.Menu_DropDownMaterial {
  margin-top: 3px !important;
  ul {
    background-color: #ffffff !important;
    width: inherit !important;
    li {
      color: #2a2a2a;
      font-size: var(--font-size-xx-small-DropDown) !important;
      font-family: $font-family-medium !important;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: $screen_width_HD) {
        font-size: var(--font-size-small-DropDown) !important;
      }
      //mobile
      @media (hover: none) and (pointer: coarse) {
        padding: 0 10px !important;
      }
      > svg {
        width: calc(var(--down-icon-size-DropDown) + 0.1vw);
        height: calc(var(--down-icon-size-DropDown) + 0.1vw);
        fill: #1b1b1b !important;
        position: absolute;
        right: 15px;
      }
      &:hover {
        background-color: #e6e7eb !important;
      }
    }
    .TitleMenuItem_DropDownMaterial {
      margin-top: -2px !important;
      padding: 5px !important;
      cursor: default !important;
      &:hover,
      &::selection {
        padding: 5px !important;
        cursor: default !important;
        background-color: #e6e7eb !important;
      }
      .MenuTitle_DropDownMaterial {
        border: 1px solid #1977f2;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        font-family: $font-family-medium !important;
        font-size: var(--font-size-xx-small-DropDown);
        color: #2a2a2a;
        @media (max-width: $screen_width_HD) {
          font-size: var(--font-size-small-DropDown) !important;
        }
        //mobile
        @media (hover: none) and (pointer: coarse) {
          padding: 5px 10px !important;
        }
      }
    }
    .OtherMenuItem_DropDownMaterial {
      padding: 7px 25px 7px 15px !important;
    }
  }
  &.Dark_DropDownMaterial ul {
    background-color: #242526 !important;
    li {
      color: #f7f7f7;
      > svg {
        fill: #f7f7f7 !important;
      }
      &:hover {
        background-color: #3a3b3c !important;
      }
    }
    .TitleMenuItem_DropDownMaterial {
      &:hover,
      &::selection {
        background-color: #3a3b3c !important;
      }
      .MenuTitle_DropDownMaterial {
        color: #f7f7f7;
      }
    }
  }
}

.MenuPaper_DropDownMaterial {
  background-color: transparent !important;
  min-width: var(--menu-min-width-DropDown) !important;
}
